@font-face {
  font-family: 'San Francisco Text Light';
  src: url('fonts/SFUI Text/SFUIText-Light.eot');
  src: url('fonts/SFUI Text/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/SFUI Text/SFUIText-Light.woff') format('woff'),
  url('fonts/SFUI Text/SFUIText-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'San Francisco Text Bold';
    src: url('fonts/SFUI Text/SFUIText-Bold.eot');
    src: url('fonts/SFUI Text/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFUI Text/SFUIText-Bold.woff') format('woff'),
    url('fonts/SFUI Text/SFUIText-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin light {
  font-weight: 400;
  font-family: San Francisco Text Light;
}
@mixin bold {
  font-weight: 400;
  font-family: San Francisco Text Light;
}



.slick-dots {
  display: flex;
  justify-content: center;
}
.slick-dots li{ 
  border-radius: 50%;
  font-size: 0;
  width: 1px;
  height: 1px;
  border: 1px black solid;

}


.slick-prev:before,
.slick-next:before {

color: black;
border-radius: 50%;
border: 1px solid #f93d3d;
width: 61px;
height: 61px;
margin-right: 20px;
display: flex;
justify-content: center;
align-items: center;
background-color: red
}
.slick-prev:before {
  content: "<";
  left: -50;
  
}
.slick-next:before {
  content: ">";
  
}

.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
  background-color: #f93d3d;
}

.slick-current {
opacity: 1;
}
