body
  box-sizing: border-box
  background-color: #f5f5f5  
img
  text-decoration: none
  max-width: 100%
a
  text-decoration: none
  &:hover
    color: #f93d3d
    text-decoration: none
.section
  padding-top: 100px
 
@media ( max-width: 768px)
  .section
    padding-bottom: 54px
    padding-top: 54px


  
