.footer
  padding-top: 100px
  padding-bottom: 100px
  &__block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__title
    +bold
    margin-bottom: 20px
    color: #000000;
    font-size: 18px;
  &__text
    color: #3c3c3b;
    font-family: "SFUI Text";
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
  &__item
    margin-bottom: 40px
  &__alta
    display: block
  &__alta1
    display: none

@media (max-width: 768px)
      .footer
        &__alta
          display: none
        &__alta1
          margin-top: 40px
          display: block
      



  
    
