.hero
  +light
  padding-top: 50px
  padding-left: 200px
  float: left
  &__phone
    margin-right: 20px
    display: flex
    align-items: center
  &__image
    width: 22px
    height: 22px
    margin-right: 20px
  &__button
    margin-right: 150px
    cursor: pointer
    color: #ffffff
    &-img
      margin-right: 10px
  &__email
    display: flex
    align-items: center
    &-text
      +light
      font-size: 24px
      color: #3c3c3b
    &-img
      margin-right: 20px
  &__bck
    display: flex
    justify-content: flex-end
    align-items: flex-start
  &__background
.saidbar
  padding-top: 60px
  +light
  font-size: 30px
  &__menu
    padding: 0
    display: flex
    justify-content: space-between
    align-items: center
    list-style-type: none
    
  &__logo
    margin-right: 50px
  &__item
    margin-right: 20px
    color: #3c3c3b
    +light
    font-size: 30px
    
    
    
  
      
 


    
    
