  
@media (max-width: 1500px)
   .hero
     margin-left: 50px

@media (max-width: 1200px)
   .hero
     margin-left: 20px
     &__button
       margin-right: 2
     &__background
       display: none
       width: 706px
       height: 500px
@media (max-width: 1000px)
   .hero
     margin: 0
     &__button
       margin-left: 40px

@media (max-width: 768px)
  .hero
    padding-top: 10px
    max-width: 320px
    margin: auto
    position: relative
    &__background
      display: none
    &__button
      margin-right: 0
      padding: 10px 8px
      margin: auto
      
    &__navbar
      flex-direction: column
      align-items: flex-start
      justify-content: center
    &__navigate-img
      padding-top: 10px
      display: inline-block
    &__phone
      padding-right: 10px
      margin: auto
    &__phone-text
      font-size: 10px
    &__image
      width: 10px
      height: 10px
      
    &__email
     display: none
     &-text
       font-size: 10px
     &-img
         width: 14px 
         height: 10px
  .saidbar
    padding-top: 0
    &__logo
      position: absolute
      top: 0
      right: 0
    &__item
      display: none
    &__logo
      display: none
    &__log
      display: block
      position: absolute
      width: 76px
      height: 28px
      margin-top: 10px
      
      top: 0
      right: 0
      
    &__menu
      display: inline-block
      flex-direction: column
      align-items: center
  .header
    padding-top: 0
    &__form
      flex-direction: column
      align-items: center
      justify-content: center
      margin-top: 30px
    &__input
      justify-content: center
      margin-right: 0
    &__button
      padding: 10px 15px
      margin-top: 15px
    &__title
      +bold
      font-size: 20px
      text-align: center
      letter-spacing: 0.23px
      display: inline-block
      margin: auto
      width: 273px
      height: 62px
    &__button
      display: block
      



  